.App {
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#particles canvas {
  background-color: #212529;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.App-splash {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-about {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444649;
}

.App-projects {
  background-color: #454140;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-contact {
  background-color: #212529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

#particles {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.name {
  position: absolute;
  z-index: 1;
  align-items: center;
  width: 100%;
}

.nav-button {
  border-style: solid;
  border-radius: 0;
  background-color: transparent;
  margin: 25px 10px 10px 10px;
  font-size: 1.3rem;
}

.nav-button:focus {
  outline: 0;
}

.nav-button:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #282c34;
}

.about-me-description {
  font-size: 22.4;
}

.about-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.copyright {
  width: 100%;
  font-size: 12.4px !important;
  margin-top: 2em;
  margin-bottom: 0;
}

.project-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.4s ease 0s;
}

.close-project {
  cursor: pointer;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.contact-form {
  margin-top: 4em;
}

.project-name-row {
  padding: 0 15px 0 15px;
  justify-content: space-between;
}

#pdfobject {
  height: 600px;
}

.profile-image {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.links-wrapper {
  margin-top: 3em;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-link:hover {
  color: #D3D3D3;
}

.icon-row a {
  padding: 0 12px 0 12px;
  font-size: 30px;
  color: #969D96;
  align-items: center;
}

.icon-row {
  display: inline;
  flex-wrap: nowrap;
  margin-top: 1em;
  justify-content: center;
}

.nav button {
  padding: 0;
}

#basic-nav-dropdown {
  color: white;
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  background-color: rgba(128, 128, 128, 0.75) !important;
}
